@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/RobotoSlab-Bold.woff") format("woff"); }

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../fonts/RobotoSlab-Regular.woff") format("woff"); }

@font-face {
  font-family: 'RobotoSlab-Light';
  src: url("../fonts/RobotoSlab-Light.woff") format("woff"); }

@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url("../fonts/RobotoSlab-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.woff") format("woff"); }

body {
  font-size: 12px;
  font-family: Roboto-Light, sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #595959;
  background-color: #f6f7f9; }
  @media (min-width: 768px) {
    body {
      font-size: 16px; } }

h1 {
  font-size: 2.33333em;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  color: #003e72;
  line-height: 1.28571em;
  padding: 0;
  margin: 0 0 0.64286em; }

h2 {
  font-size: 2em;
  font-family: RobotoSlab-Light, RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  color: #003e72;
  line-height: 1.5em;
  padding: 0;
  margin: 0 0 0.75em; }

h3 {
  font-size: 1.16667em;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  color: #003e72;
  padding: 0;
  margin: 0 0 0.85714em; }

h4 {
  font-size: 1.16667em;
  font-family: RobotoSlab-Light, RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #003e72;
  padding: 0;
  margin: 0 0 0.85714em; }

p {
  font-size: 1em;
  padding: 0;
  margin: 0 0 1.5em; }

a {
  color: #005dab; }
  a:focus, a:hover {
    outline: 0;
    text-decoration: none; }

abbr {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul li {
    padding: 0;
    margin: 0; }

/* grid layouts */
.container {
  margin: 0 auto;
  background-color: #fff; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
      padding: 0; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

header[role="banner"] {
  display: grid;
  grid-template-rows: auto; }
  header[role="banner"] #hero {
    background-color: #e9e9e9;
    background-image: url(../images/hero.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px 0 100px 10px; }
    header[role="banner"] #hero a {
      display: block;
      width: 180px; }
    @media (min-width: 768px) {
      header[role="banner"] #hero {
        padding-bottom: 140px; }
        header[role="banner"] #hero a {
          width: 300px; } }
    @media (min-width: 992px) {
      header[role="banner"] #hero {
        padding-bottom: 180px;
        padding-left: 100px; } }
    @media (min-width: 1200px) {
      header[role="banner"] #hero {
        padding-bottom: 220px; } }
  header[role="banner"] h1, header[role="banner"] [property="description"] {
    display: none; }
  header[role="banner"] #intro p {
    margin: 0 auto;
    max-width: 940px;
    font-size: 1.41667em;
    font-family: RobotoSlab-Thin, sans-serif;
    padding: 1.17647em;
    text-align: center; }
    @media (min-width: 992px) {
      header[role="banner"] #intro p {
        padding: 2.35294em 1.17647em; } }
  header[role="banner"] #login {
    grid-row: 2;
    color: #fff;
    background-color: #2f373e;
    padding: 0.625em; }
    header[role="banner"] #login h2 {
      display: none; }
    header[role="banner"] #login a {
      color: #fff; }
    header[role="banner"] #login p {
      font-size: 90%; }

#products {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; }
  @media (min-width: 768px) {
    #products {
      grid-template-columns: repeat(2, 1fr); }
      #products p {
        grid-column: span 2; } }
  @media (min-width: 992px) {
    #products {
      grid-template-columns: repeat(4, 1fr); }
      #products p {
        grid-column: span 4; } }
  #products > p {
    text-align: center;
    padding: 0.625em; }
  #products div {
    color: #fff;
    padding: 1.25em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.35); }
    #products div h3 {
      color: inherit; }
    #products div:nth-child(2) {
      background-color: #009FF2; }
    #products div:nth-child(3) {
      background-color: #0059A4; }
    #products div:nth-child(4) {
      background-color: #7ED321; }
    #products div:nth-child(5) {
      background-color: #F5A623; }

#documents {
  background-color: #003e72;
  background-image: url(../images/bg-documents.jpg);
  background-size: cover;
  padding: 1.25em;
  margin-bottom: 3.125em; }
  @media (min-width: 992px) {
    #documents {
      padding: 2.5em 1.25em; } }
  #documents div {
    max-width: 740px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; }
    @media (min-width: 768px) {
      #documents div {
        grid-template-columns: repeat(2, 1fr); } }
  #documents h3, #documents a {
    display: block;
    color: #fff;
    margin: 0;
    padding: 0.875em 1.25em;
    border-bottom: 1px solid #fff;
    text-decoration: none; }
  #documents h3, #documents a:hover {
    background-color: rgba(255, 255, 255, 0.15); }
  #documents a {
    background-color: rgba(255, 255, 255, 0.35); }
  #documents ul li:last-child a {
    border: none; }
  #documents section {
    border: 1px solid #fff; }

#products h2, #documents h2 {
  display: none; }

#contacts > div {
  display: grid;
  grid-gap: 20px 100px; }
  @media (min-width: 768px) {
    #contacts > div {
      grid-template-columns: repeat(2, 1fr); } }

#contacts > div,
#contacts > section div {
  max-width: 740px;
  margin: 0 auto;
  padding: 1.25em; }

#contacts > section {
  background-color: #ccc;
  background-image: url(../images/bg-marketing.jpg);
  background-size: cover;
  width: 100%;
  content: "";
  display: table;
  clear: both; }

#contacts #status {
  display: grid; }
  @media (min-width: 768px) {
    #contacts #status {
      grid-column: span 2; } }
  @media (min-width: 400px) {
    #contacts #status {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: inherit; }
      #contacts #status h3 {
        grid-column: span 2; } }
  #contacts #status h3, #contacts #status h4 {
    color: #595959; }

#contacts h2 {
  border-bottom: 1px solid #ccc; }
  @media (min-width: 768px) {
    #contacts h2 {
      grid-column: span 2; } }
  #contacts h2 span {
    display: none; }

#contacts a[href^="tel"] {
  color: #595959;
  text-decoration: none; }

#privacy {
  max-width: 940px;
  margin: 0 auto;
  padding: 2.5em 0; }

footer[role="contentinfo"] {
  background-color: #f6f7f9;
  color: #595959;
  text-transform: uppercase;
  padding: 1.25em;
  content: "";
  display: table;
  clear: both; }

/* form elements */
form, fieldset {
  margin: 0;
  padding: 0.75em 0;
  border: 0;
  max-width: 740px;
  margin: 0 auto; }

legend {
  font-size: 1.33333em;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0; }

label {
  display: none; }

input {
  display: block;
  font-size: 1.16667em;
  font-family: inherit;
  font-weight: normal;
  line-height: 1.75;
  margin: 0 0 0.71429em;
  padding: 0.57143em;
  padding-left: 10px;
  border: 0.07143em solid #afb7bc;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box; }
  input:focus {
    outline: none;
    background-color: #fff; }
  @media (min-width: 576px) {
    input {
      display: inline-block;
      width: 160px;
      margin-right: 1.42857em; } }
  @media (min-width: 768px) {
    input {
      width: 235px; } }
  @media (min-width: 992px) {
    input {
      width: 265px; } }

button {
  display: block;
  font-size: 1.16667em;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 1.75;
  margin: 0 0 0.71429em;
  padding: 0.57143em;
  border: 1px solid #595959;
  border-radius: 4px;
  background-color: #009ff2;
  color: #fff;
  box-sizing: border-box;
  outline: 0;
  width: 140px; }
  button:focus, button:hover {
    background-color: #fff;
    color: #595959; }
  @media (min-width: 576px) {
    button {
      display: inline-block; } }
