// convert px to em
@function em($target-px, $context: $default-context) {
	@return ($target-px / $context) * 1em;
}

// small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}

// medium devices
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

// large devices
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}

// extra large devices
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

// custom break points
@mixin rwd($screen) {
	@media (min-width: $screen) {
		@content;
	}
}

// clearfix
@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}

// flexbox autoprefixes
@mixin flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

// flexbox autoprefixes
@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}

// flexbox autoprefixes
@mixin order($val) {
	-webkit-box-ordinal-group: $val;  
	-moz-box-ordinal-group: $val;     
	-ms-flex-order: $val;     
	-webkit-order: $val;  
	order: $val;
}